.hide {
    display: none;
}

.startScreen{
    /* margin-top: 200px;
    margin-left: 900px; */
    text-align: center;
    border: 1px solid red;
    padding: 50px;
    margin: auto;
    width: 300px;
}
.gameArea {
    background-color: black;
    width: 400px;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.car, .enemy_car {
    position: absolute;
    bottom: 100px;
    /* margin: auto; */
    left: 175px;
    width: 50px;
    height: 100px;
    background-color: blue;
}

.line{
    position: absolute;
    height: 100px;
    width: 10px;
    margin-left: 195px;
    border-radius: 10px;
    background: white;
}

.score{
    position: absolute;
    z-index: 9999;
    top: 0;
    background-color: black;
    height: 40px;
    width: 99%;
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-family: fantasy;
}